header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: var(--bg);
}

.inner-header {
    height: 60px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    padding:5px 20px;
    margin: auto;
    max-width: var(--max);
}

.head-2 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.bt-head {
    color: #ffffff90;
    font-size: 16px;
    padding: 5px;
    transition: .3s;
}

.bt-head:hover {
    color: #fff;
}

.login {
    padding: 8px 25px;
    border-radius: 2px;
    background: #F24C4C;
    color: #fff;
    cursor: pointer;
}

.login:hover {
    box-shadow: 0 0 8px 0 #F24C4C;
}

#containerLogin {
    width: 100%;
    height: 100svh;
    background: #000000cc;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    display: flex;
    z-index: 10000;
    flex-direction: column;
    align-items: center;
}

.out-login {
    margin-top: 40px;
    width: calc(100% - 40px);
    padding: 10px;
    background: white;
    min-height: 40px;
    max-width: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-login{
    font-size: 18px;
    margin: 20px 0 30px; 
}

.inps-out{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
    max-width: 250px;
}

.input-login{
    padding: 10px 15px;
    border: 2px solid #DADADA;
    border-radius: 5px;
    font-size: 14px;
    color: #989898;
    width: calc(100% - 35px);
}

.bt-login{
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    background: var(--contraste);
    width: 100%;
    cursor: pointer;
    transition: all .3s;

}
.bt-login:hover{
    opacity: .8;
}

.extra-login, .back-login, .extra-login-bt{
    margin: 10px 0;
    background: transparent;
    color: #989898;
}

.extra-login button{
    color: var(--contraste);
    background: transparent;
    cursor: pointer;
}

.extra-login-bt{    
    cursor: pointer;
}