header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all .3s ease-in-out;
}   

.inner-header {
    height: 60px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    padding:5px 20px;
    margin: auto;
    max-width: var(--max);
}

.head-2 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.bt-head {
    color: #ffffff90;
    font-size: 16px;
    padding: 5px;
    transition: .3s;
}

.bt-head:hover {
    color: #fff;
}

.login {
    padding: 8px 25px;
    border-radius: 2px;
    background: #F24C4C;
    color: #fff;
    cursor: pointer;
}

.login:hover {
    box-shadow: 0 0 8px 0 #F24C4C;
}

.hiddenHeader{
    transform: translateY(-100%);
}