@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: Alata, sans-serif;
    border: none;
    scroll-behavior: smooth;
    font-weight: normal;
    --max: 1000px;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
.inner-header{
    height: 60px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    padding:5px 20px;
    margin: auto;
    max-width: var(--max);
}
#banner{
    background: #202020;
}
.head-2{
    display: flex;
    gap: 20px;
    align-items: center;
}
.bt-head{
    color: white;
    font-size: 16px;
    padding: 5px
}
.login{
    padding: 8px 25px;
    border-radius: 2px;
    background: #F24C4C;
}

#banner{
    width: calc(100% - 20px);
    padding: 10px;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-banner{
    width: calc(100% - 20px);
    padding: 10px;
    max-width: var(--max);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left, .banner-right{
    width: 50%;
}
.banner-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}
.banner-title{
    font-size: 28px;
    font-weight: bolder;
    color: white;
}
.banner-text{
    color: #CBCBCB;
}
.banner-now{
    padding: 10px 30px;
    border-radius: 2px;
    width: fit-content;
    background: #F24C4C;
    color: white;
}