body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

#outBox {
    width: 100%;
    height: 100%;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginBox {
    max-width: calc(var(--max) / 2);
    width: calc(100% - 20px);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#loginTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.inputDiv {
    position: relative;
    max-width: 400px;
    width: calc(100% - 40px);
}

.inputDiv input {
    width: calc(100% - 32px);
    height: calc(100% - 22px);
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #eee;
    background: transparent;
    color: #eee;
}

.inputDiv::after {
    content: 'teste';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    transition: .3s;
}

input:focus > .inputDiv::after {
    top: 0;
    font-size: 0.6rem;
}

#loginBot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}