body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

#outBox {
    width: 100%;
    height: 100%;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginBox {
    max-width: calc(var(--max) / 2);
    width: calc(100% - 20px);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}

#loginTop {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#loginTop input {
    width: calc(100% - 40px);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    background: transparent;
}

#loginBot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}