body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

#outBox {
    width: 100%;
    height: 100%;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginBox {
    max-width: calc(var(--max) / 2);
    width: calc(100% - 20px);
    min-height: 300px;
}