#banner {
    width: calc(100% - 20px);
    padding: 10px;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-banner {
    width: calc(100% - 20px);
    padding: 10px;
    max-width: var(--max);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left, .banner-right {
    width: 50%;
}

.banner-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.banner-right {
    display: flex;
    justify-content: flex-end;
}

.banner-title {
    font-size: 28px;
    font-weight: bolder;
    color: white;
}

.banner-text {
    color: #CBCBCB;
}

.banner-now {
    padding: 10px 30px;
    border-radius: 2px;
    width: fit-content;
    background: #F24C4C;
    color: #ffffff90;
}

.banner-now:hover {
    color: #fff;
    box-shadow: 0 0 8px 0 #F24C4C;
}

#courses {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sec-courses {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: var(--max);
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% / 4 - 15px);
}

.item-img {
    width: 100%;
    position: relative;
    aspect-ratio: 1.5;
    border-radius: 5px;
    overflow: hidden;
}

.item-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-title {

}

.item-users {

}

.item-price {

}

.old-price {

}

.actual-price {

}