#banner {
    width: calc(100% - 20px);
    padding: 10px;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-210deg, #202020, #101010);
    position: relative;
    overflow: hidden;
}

#banner > svg, #banner > svg path{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -12px;
    left: 0;
    fill: #313131;
}

.inner-banner {
    width: calc(100% - 20px);
    padding: 10px;
    max-width: var(--max);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left, .banner-right {
    width: 50%;
}

.banner-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.banner-right {
    display: flex;
    justify-content: flex-end;
}

.banner-title {
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
}

.banner-text {
    color: var(--cinzinha);
}

.banner-now {
    padding: 10px 30px;
    border-radius: 2px;
    width: fit-content;
    background: var(--contraste);
    color: #fff;
    transition: .3s
}

.banner-now:hover {
    box-shadow: 0 0 8px 0 var(--contraste);
}

.banner-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--cinzinha);
    width: fit-content;
}

.banner-right-top {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 3px;
    background: #373737;
}

.banner-right-top p:before {
    content: "+ ";
    color: var(--contraste);
}

.banner-right-bot {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.banner-right-bot p:before {
    content: '- ';
    color: var(--contraste);
}

#courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.courses, #userData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    width: calc(100% - 40px);
    max-width: var(--max);
    margin-top: 40px;
}

.title-courses-out {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.title-courses {
    font-size: 1.3rem;
}

.title-courses-bt {
    font-size: 1.1rem;
    color: #656565;
    position: relative;
}

.title-courses-bt:after {
    content: "→";
    right: 0;
    top: 50%;
    transform: translate(-110%, -50%);
}

.title-courses p {
    margin-left: 10px;
}

.svg-courses {
    position: absolute;
    left: 0;
    top: -50%;
}

.sec-courses {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% / 4 - 35px);
    padding: 10px;
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
}

.item-img {
    width: 100%;
    position: relative;
    aspect-ratio: 1.5;
    border-radius: 5px;
    overflow: hidden;
}

.item-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-title {
    max-height: 50px;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item-users {
    color: #888;
    font-size: 0.9rem;
}

.item-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.old-price {
    color: #777777;
    opacity: .8;
    text-decoration: line-through;
    font-size: 14px;
    width: auto;
}

.actual-price {
    color: #0b0b0b;
    font-size: 16px;
    width: auto;
    font-weight: bolder;
}

.item-rate {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #7e7e7e;
    font-size: 0.9rem;
}

.fill-star {
    fill:var(--estrela-color);
}


.item:hover {
 background: #fff;
 box-shadow: #ebebeb 0px 0px 20px 0px;
}